.banner{
    background-image: url("https://images.pexels.com/photos/8471703/pexels-photo-8471703.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size:cover;
    background-repeat:no-repeat;
    width :100%;
    height:90vh;

}

.cover{
    width: 100%;
    height:90vh;
    background-color:black;
    opacity:0.4;
}